@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    border: #eee;
    padding: 2em 20em 2em 20em;
}
    
.newspaper-container {
    border: solid #eee;
    background-color: white;
    width: 700px;
    border-radius: 30px;
    box-shadow: #ddd;
    padding:1em;
    margin: auto;
}

.date {
    font-family: aource sans pro;
    color: gray;
}

h1 {
    font-size: 3em;
    text-align: center;
    font-family: Abril Fatface;
}

nav {
    color: gray;
    font-family: source sans pro;
    border-top: solid 1px #777;
    border-bottom: solid 1px #777;
}

nav li {
    display: inline-block;
    font-size: 1em;
    padding: 3px;
}

a:link {
    color:#777;
    text-decoration: none;
}

a:visited {
    color: #777;
}

main img {
    width: 100%;
}

h2 {
    font-size: 1.75em;
    text-align: left;
    font-family: Roboto Slab;
}

h5 {
    color: red;
    font-family: Abril Fatface;
}

.more-articles {
    border-top: solid 1px #777;
}

.sec {
    display: inline-block;
    width: 40%;
    padding: 2em;
    margin: auto;
}

.sec img {
    width: 100%;
}


p {
    font-family: source sans pro;

}

h4 {
    font-family: Roboto Slab;
    text-align: left;
    font-size: 1em;
}